.chat {
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
  height: 70vh;
}
.send {
  display: flex;
  justify-content: space-around;
}
.send input {
  width: 300px;
}
