.main form {
  display: flex;
  align-items: flex-end;
}
.main form button {
  margin-left: 10px;
}
.login {
  margin-right: 15px;
}
.main .link {
  margin: 20px 0;
}
.main .warning {
  margin-top: 15px;
  width: 150px;
}
